@model  Amms.Models.Category

<ul class="list-unstyled">
	<li>
		<a href="@Url.Action("ShopProd","Shop")" data-form-method="post"><i class="fa fa-angle-double-right"></i>@Model.CategoryName<span></span></a>
	</li>

</ul>
