@model Amms.Models.Item
<!-- Product #1 -->
<div class="col-xs-12 col-sm-4 col-md-3 product">
	<div class="product-img">
		<img src="~/Content/images/shop/grid/@Model.ItemImage" alt="Product" width="25" height="25" />
		<div class="product-hover">
			<div class="product-action">
				@if (Session["UserID"] != null)
				{
					<a class="btn btn-primary" href="@Url.Action("AddToCart", "Shop", new { id = Model.ItemID }, null)">Add To Cart</a>
				}
					@*<a class="btn btn-primary" href="#">Item Details</a>*@
				</div>
		</div>
		<!-- .product-overlay end -->
	</div>
	<!-- .product-img end -->
	<div class="product-bio">
		<div class="prodcut-cat">
			@*<a href="#">Opel</a>*@
		</div>
		<!-- .product-cat end -->
		<div class="prodcut-title">
			<h5>
				<a href="#">@Model.ItemName</a>
			</h5>
		</div>
		<!-- .product-title end -->
		<div class="product-price">
			<span class="symbole"></span><span>@Model.ItemPrice</span>
		</div>
		<!-- .product-price end -->

	</div>
	<!-- .product-bio end -->
</div>
<!-- .product end -->
