<section>
<h2>Admin Panel</h2>
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
				<div class="widget widget-categories">
					<div class="widget-content">
						<ul class="list-unstyled">
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>CUSTOMER</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>SERVICES</a>
							</li>
							<li>
								<a href="@Url.Action("AddItem", "Admin")"><i class="fa fa-angle-double-right"></i>ITEM</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>CATEGORY</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>UNIT</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>REPORT GENERATION</a>
							</li>
						</ul>
					</div>
				</div>

			<!-- Recent Products
			============================================= -->
			<div class="widget widget-recent-products">

				<!-- .widget-content end -->
			</div>
			<!-- .widget-recent-product end -->
			<!-- Filter
			============================================= -->
			<div class="widget widget-filter">

			</div>
			<!-- .widget-filter end -->
			<!-- Select Brand
			============================================= -->
			<div class="widget widget-brands">

			</div>
			<!-- .widget-brand end -->
			<!-- Recent Products
			============================================= -->
			<div class="widget widget-recent-products">

				<!-- .widget-content end -->
			</div>
			<!-- .widget-recent-product end -->
			<!-- Tag Clouds
			============================================= -->
			<div class="widget widget-tags">

			</div>
			<!-- .widget-tags end -->
		</div>
		<!-- .col-md-3 end -->

		<div class="col-xs-12 col-sm-12 col-md-9">


			<div class="container">
			</div>
			<!-- .footer-copyright end -->
		</div>
	</div>

	</div>
</section>

