
<!-- Featured #1
============================================= -->
<section id="featured1" class="featured featured-1">
	<h2>About Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="heading">
                    <p class="subheading">History</p>
                    <h2>The Company</h2>
                </div>
                <!-- .heading end -->
                <div class="about-accordion">
                    <div class="panel-group accordion" id="accordion02" role="tablist" aria-multiselectable="true">

                        <!-- Panel 01 -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-1" aria-expanded="true" aria-controls="collapse02-1">About COMPANY</a>
                                    <span class="icon"></span>
                                </h4>
                            </div>
                            <div id="collapse02-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                                <div class="panel-body">
                                    <div class="pull-left pr-30">
                                        <img src="~/Content/images/background/history.jpg" alt="about">
                                    </div>
                                    <div> Established in 1994, our founding principle was to provide the automobile owners of Sri Lanka with the finest total auto care solutions on the market. To this day, over two decades later, this remains our core objective and, as a result, Auto Miraj has emerged as the island’s leader in automobile services. At the heart of each and every one of our employee’s work ethic is a customer-centric approach dedicated to delivering our clients with the best car care solutions. It is this commitment that has facilitated our growth – resulting in Auto Miraj being recognized as a leading car care solutions and car maintenance service provider with the largest customer base to date.</div>
                                </div>
                            </div>
                        </div>

                        <!-- Panel 02 -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-2" aria-expanded="false" aria-controls="collapse02-2"> Our Mission </a>
                                </h4>
                            </div>
                            <div id="collapse02-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                <div class="panel-body"> To become the obvious choice! </div>
                            </div>
                        </div>

                        <!-- Panel 03 -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-3" aria-expanded="false" aria-controls="collapse02-3">Our VISION</a>
                                </h4>
                            </div>
                            <div id="collapse02-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true">
                                <div class="panel-body"> To achieve unparalleled recognition as the premium auto care service provider by objectifying trust, convenience and uniqueness; guiding our work force as a team striving “to become the obvious choice”. </div>
                            </div>
                        </div>

                        <!-- Panel 04 -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-4" aria-expanded="false" aria-controls="collapse02-4"> Our Goals </a>
                                </h4>
                            </div>
                            <div id="collapse02-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true">
                                <div class="panel-body"> Platinum Auto Spa is extremely equipped to handle performance upgrades being already sponsoring its own racing team of 3 talented drivers. We also handle street performance cars and give drivers the boost they expect to have on their cars. We also are authorized dealers of top specialist racing brands such as Real Street Performance, ZeroOne Racing, Toyo Tires, Motul Lubricants and other racing specialists.  </div>
                            </div>
                        </div>
                    </div>
                    <!-- .accordion end -->
                </div>
                <!-- .about-accordion end -->
            </div>
            <!-- .col-md-6 end -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="heading">
                    <p class="subheading">We Are Good</p>
                    <h2>Our Features</h2>
                </div>
                <!-- .heading end -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel">
                            <div class="feature-icon">
                                <i class="icon icon-Time"></i>
                            </div>
                            <h4 class="text-uppercase">Always Available</h4>
                            <p>We are Sri Lanka’s best automobile care specialists – with state-of- the-art service centers located across the country. Each center is extremely committed to providing our clients with the very best services.</p>
                        </div>
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel">
                            <div class="feature-icon">
                                <i class="icon icon-Shield"></i>
                            </div>
                            <h4 class="text-uppercase">Qualified Agents</h4>
                            <p>
                                We are committed to providing the highest quality in car Detailing/ Car Wash/ Lube and other Car Care related Products and Services that helps to maintain our customer's vehicles in best order and retain the value and the condition of the vehicle for a longer period of time.
                            </p>
                        </div>
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel mb-0">
                            <div class="feature-icon">
                                <i class="icon icon-Wallet"></i>
                            </div>
                            <h4 class="text-uppercase">Fair Prices</h4>
                            <p>you can be 100% sure that the services will be provided within the set budget limits</p>
                        </div>
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel mb-0">
                            <div class="feature-icon">
                                <i class="icon icon-Star"></i>
                            </div>
                            <h4 class="text-uppercase">Best Offers</h4>
                            <p>Credit card holders can claim discounts for selected services from us. Service & Discount 10% discount on all mechanical repairs, ECU tuning, all body repairs 5% discount on all Performance spare parts 10% off on all Exterior/Interior Detail packages 12% off Aquapel Hydrophobic Windshield Treatment </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #featured1 end -->
<!-- Blog
============================================= -->
