
@{
	ViewBag.Title = "Gallery";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Gallery</h2>*@

<section id="blog" class="blog blog-grid">
	<h2>Gallery</h2>
	<div class="container">
		<div class="row">
			<!-- Entry Article #1 -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="entry mb-30">
					<div class="entry-img">
						<a href="#">
							<img src="~/Content/images/gallery/1.png" alt="Entry Title">
						</a>
					</div>
				
				</div>
				<!-- .entry end -->
			</div>
			<!-- .col-md-4 end -->
			<!-- Entry Article #2 -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="entry mb-30">
					<div class="entry-img">
						<a href="#">
							<img src="~/Content/images/gallery/2.png" alt="Entry Title">
						</a>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .entry end -->
			</div>
			<!-- .col-md-4 end -->
			<!-- Entry Article #3 -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="entry mb-30">
					<div class="entry-img">
						<a href="#">
							<img src="~/Content/images/gallery/3.png" alt="Entry Title">
						</a>
					</div>
				</div>
				<!-- .entry end -->
			</div>
			<!-- .col-md-4 end -->
			<!-- Entry Article #4 -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="entry mb-30">
					<div class="entry-img">
						<a href="#">
							<img src="~/Content/images/gallery/4.png" alt="Entry Title">
						</a>
					</div>
					<!-- .entry-img end -->
			
					<!-- .entry-content end -->
				</div>
				<!-- .entry end -->
			</div>
			<!-- .col-md-4 end -->
			<!-- Entry Article #5 -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="entry mb-30">
					<div class="entry-img">
						<a href="#">
							<img src="~/Content/images/gallery/5.png" alt="Entry Title">
						</a>
					</div>
					<!-- .entry-img end -->
			
				</div>
				<!-- .entry end -->
			</div>
			<!-- .col-md-4 end -->
			<!-- Entry Article #6 -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="entry mb-30">
					<div class="entry-img">
						<a href="#">
							<img src="~/Content/images/gallery/6.png" alt="Entry Title">
						</a>
					</div>
					<!-- .entry-img end -->
			<!-- .entry-content end -->
				</div>
				<!-- .entry end -->
			</div>
			<!-- .col-md-4 end -->
		</div>

	</div>
	<!-- .container end -->
</section>


